OFFICE_BIND=192.168.1.205
OFFICE_PORT=8080
RD_BIND=192.168.1.205
RD_PORT=8081
DATA_DIR=/var/lib/secure-file-exchange
MAX_UPLOAD_MB=10
COOKIE_SECURE=true
# TLS_CERT_FILE=/etc/pki/tls/certs/sfx.crt
# TLS_KEY_FILE=/etc/pki/tls/private/sfx.key
# BOOTSTRAP_ADMIN_USERNAME=sfxadmin
# BOOTSTRAP_ADMIN_PASSWORD=replace-with-8-or-more-random-characters
# LDAP_URL=ldaps://ad.example.local:636
# LDAP_BIND_DN=CN=sfx-reader,OU=Service Accounts,DC=example,DC=local
# LDAP_BIND_PASSWORD=replace-this-secret
# LDAP_BASE_DN=DC=example,DC=local
# LDAP_TLS_CA_FILE=/etc/pki/ca-trust/source/anchors/ad-ca.pem
# LDAP_ADMIN_GROUPS=CN=SFX-Admins,OU=Groups,DC=example,DC=local
# LDAP_APPROVER_GROUPS=CN=SFX-Approvers,OU=Groups,DC=example,DC=local
